@import "tailwindcss";

@theme {
  --color-primary: #60a5fa;
  --color-aaccent: #001433;
  --color-text: #8796af;
  --color-border: #656565;
  --color-light: #e5e7eb;
  --color-green: #64ed80;
  --color-card: #111827;
  --color-btn-border: #e179af;
  --color-btn: #da589b;
  --color-btn-over: #c82c7d;
  --radius: 16px;
  --blur: 24px;
}

:root {
  color-scheme: light dark;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-neutral-900 text-neutral-200;
}

.glass {
  background: color-mix(in oklab, var(--color-card) 70%, transparent);
  backdrop-filter: blur(var(--blur)) saturate(1.1);
  border: 1px solid #1f2937;
  border-radius: var(--radius);
}

.btn {
  @apply inline-flex items-center gap-2 px-3 py-2 rounded-md border border-neutral-700 text-neutral-200 hover:bg-neutral-800;
}

.field-box {
  @apply absolute border border-dashed border-neutral-400 rounded-[calc(var(--radius)/4)] bg-white/10 text-neutral-100;
}

.field-label {
  @apply text-xs px-1 py-0.5 bg-neutral-800/70 border border-neutral-700 rounded-[calc(var(--radius)/4)];
}

.handle {
  @apply absolute w-2 h-2 bg-primary rounded-full;
}
.handle.br {
  right: -4px;
  bottom: -4px;
}

.Blob {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
  color: transparent;
}

.pink {
  border-radius: 1834px;
  background: radial-gradient(50% 50% at 50% 50%, #d43f8c33, #0000);
  @apply flex items-center justify-center shrink-0 fixed top-0 right-0 translate-x-1/2 -translate-y-1/2 w-458.5 h-449.75;
}

.purple {
  border-radius: 1908px;
  background: radial-gradient(50% 50% at 50% 50%, #4f46e533, #0000);
  @apply flex items-center justify-center shrink-0 fixed top-0 left-0 -translate-x-1/2 -translate-y-1/2 w-477 h-433.75;
}

.btn-full {
  @apply rounded-[calc(var(--radius)/2)] border border-btn-border bg-btn text-sm font-medium text-white transition hover:bg-btn-over px-4 py-2;
}

.btn-full-success {
  @apply rounded-[calc(var(--radius)/2)] border border-green/80 bg-green/90 text-sm font-medium text-white transition hover:bg-green;
}

.nav-list {
  @apply absolute top-full left-0 mt-2 bg-white border border-light rounded shadow-md z-10 text-primary;
}

.drag-input {
  @apply absolute inset-0 w-full h-full bg-transparent text-lg text-neutral-900 px-1 outline-none placeholder:text-neutral-900;
}

.banner {
  @apply w-full h-36 rounded-xl flex flex-col items-center justify-center text-center bg-[url('/home-banner.png')] bg-cover bg-aaccent backdrop-blur-(--blur) select-none;
}

.sidebar {
  @apply flex h-full flex-col justify-between select-none text-center backdrop-blur-(--blur) bg-aaccent px-4 md:py-6 transition-all duration-300 w-full md:w-56 py-6 overflow-hidden md:overflow-visible;
}